@font-face {
    font-family: "Markazi Text";
    src: url("../../fonts/MarkaziText-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("../../fonts/Karla-VariableFont_wght.ttf");
}

.branch {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 640px;
}

.branch article {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1120px;
    height: 560px;
}

.branch-description {
    padding: 25px 20px;
}

.branch-description h1 {
    color: #f9d108c2;
    font-family: 'Markazi Text', sans-serif;
    font-size: 100px;
    font-weight: 500;
    margin: 0;
}

.branch-description h2 {
    font-family: 'Markazi Text', sans-serif;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    position: relative;
    bottom: 30px;
}

.branch-description p {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.chicago img {
    width: 441px;
    height: 294px;
    border-radius: 7px;
}

#chicago1 {
    position: relative;
    left: 10px;
    top: 30px;
}

#chicago2 {
    position: relative;
    left: 170px;
    bottom: 60px;
}