@font-face {
    font-family: "Markazi Text";
    src: url("../../fonts/MarkaziText-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("../../fonts/Karla-VariableFont_wght.ttf");
}

.reserve {
    background-color: #495e57;
    height: 430px;
}

.reserve article {
    margin: 0 200px;
}

#promo-food-img {
    width: 450px;
    height: 450px;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    left: 680px;
    bottom: 365px;
    box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.5);
}

.reserve h1 {
    color: #f9d108c2;
    font-size: 100px;
    font-family: "Markazi text", sans-serif;
    font-weight: 500;
    margin: 0;
    padding-bottom: 0;
}

.reserve h2 {
    color: white;
    font-size: 50px;
    font-family: "Markazi Text", sans-serif;
    font-weight: 400;
    margin: 0;
    position: relative;
    bottom: 30px;
}

.reserve-text {
    color: white;
    font-size: 25px;
    margin: 0;
    font-family: "Karla", sans-serif;
}

.specials {
    margin: 0 200px;
}

.banner {
    margin-top: 100px;
    align-content: center;
}

.banner Button {
    font-size: 30px;
    padding: 18px 25px;
    margin-left: 359px;
}

.banner p {
    font-size: 60px;
    font-weight: 500;
}

.specials div > p {
    display: inline;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
}