.logo {
    width: 300px;
    height: 81px;
}

.Nav-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
}

nav {
    display: flex;
    justify-content: center;
}

img {
    margin-right: 70px;
    margin-left: 20px;
}

ul {
    display: flex;
    padding: 0;
    margin-left: 10px;
}

li {
    display: inline;
    align-self: center;
    margin: 0 50px;
}

li > a {
    text-decoration: none;
    color: black;
    font-size: 19px;
    font-weight: 700;
    transition: all 0.3s ease;
}

li > a:hover {
    text-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}