@font-face {
    font-family: "Markazi Text";
    src: url("../../fonts/MarkaziText-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Karla";
    src: url("../../fonts/Karla-VariableFont_wght.ttf");
}

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #495e57;
    height: 580px;
    margin-top: 110px;
}


.testimonials article {
    position: relative;
    bottom: 60px;
    width: 1200px;
    height: 500px;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    color: #f9d108c2;
    font-family: 'Markazi Text', sans-serif;
    font-size: 50px;
    font-weight: 300;
}

.reviewers {
    display: flex;
    justify-content: space-between;
}